@import "./responsive.scss";

.ensone-in-numbers-main-container {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 20px;

  @include md {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include ms {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include sm {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.ensome-main-content-container {
  display: flex;
  flex-direction: column;
  padding-left: 120px;

  @include md {
    padding-left: 20px;
  }


  .ensome-content-title {
    color: var(--black);
    font-size: var(--heading-two);
    font-weight: 800;
    line-height: var(--leading-xl);

    @include md {
      font-size: var(--heading-three);
      line-height: var(--leading-mds);
    }

    @include ms {
      font-size: var(--heading-three);
      line-height: var(--leading-mds);
    }

    @include sm {
    font-size: var(--heading-four);
    line-height: var(--leading-md);
    }
  }

  .ensome-in-numbers-hr {
    margin-top: 15px;
    width: 95px;
    height: 4px;
    background-color: var(--primary-blue);
  }

  .ensome-main-content-numbers-container {
    margin-top: 50px;
    display: flex;
    gap: 100px;

    @include md {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }

    @include ms {
     display: grid;
     grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    @include sm {
     display: grid;
     grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .ensome-main-content-numbers {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }

    .ensome-main-content-title {
      color: var(--grey);
      font-size: var(--medium);
      line-height: var(--leading-sm);
      font-weight: 600;
    }

    .ensome-main-content-number {
      font-size: 75px;
      color: var(--primary-blue);
      font-weight: normal;
      line-height: 100%;
    }
  }
}