@import "./responsive.scss";

.quick-link-title  {
  color: var(--white);
  font-weight: bold;
  font-size: var(--large);
}

.quick-links-container {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-quick-link {
  color: var(--grey);
  font-size: var(--medium);
  line-height: var(--leading-sm);
  transition: all 0.3s ease;
}

.footer-quick-link:hover {
  color: var(--white);
}