@import "./responsive.scss";

.footer-links-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @include md {
    grid-template-columns: repeat(3, minmax(0, 190px));
  }

  @include sm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
  }
}