@import "./responsive.scss";

.footer-socials-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ensome-footer-logo {
  width: 141px;
  height: 46px;
}

.footer-social-description {
  color: var(--grey);
  font-size: var(--medium);
  line-height: var(--leading-sm);
}

.footer-social-links {
  display: flex;
  gap: 15px;
}

.footer-social-link {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-social-link-icon {
    width: 14px;
    height: 14px;
  }
}