@import "./responsive.scss";

.our-solutions-main-container {
  padding-top: 120px;
  display: flex;
  flex-direction: column;

  @include md {
    padding-top: 80px;
  }

  @include sm {
    padding-top: 20px;
  }
}