@import "./responsive.scss";

.our-clients-second-main-container {
  margin-top: 48px;
  display: flex;
  align-items: center;

  @include md {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include ms {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include sm {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.our-client-main-container {
  display: flex;
  align-items: center;
  justify-content: center;

  @include md {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include ms {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include sm {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}