@import "./responsive.scss";

.main-second-header-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 145px;
  background-color: var(--white);

  @include ms {
    gap: 50px;
  }

  @include sm {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
  }

  .ensome-blue-logo {
    width: 141px;
    height: 46px;

    @include sm {
      width: 92px;
      height: 30px;
    }
  }

  .second-header-link-container {
    display: flex;
    align-items: center;
    gap: 40px;

    @include md {
      display: flex;
    }

    @include sm {
      display: none;
    }

    .second-header-link {
      color: var(--grey);
      font-size: var(--medium);
      font-weight: 600;
      line-height: var(--leading-sm);
      transition: all 0.3s ease;
    }

    .second-header-link:hover {
      color: var(--black);
    }
  }

  .second-header-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px;
    border-radius: 6px;
    color: var(--white);
    background-color: var(--primary-blue);
    font-size: var(--medium);
    font-weight: 600;
    line-height: var(--leading-sm);
    outline: none;
    border: none;
    transition: all 0.3s ease;

    @include md {
      display: none;
    }

    @include sm {
      display: none;
    }

    .second-header-play-icon {
      width: 24px;
      height: 24px;
    }
  }
  .second-header-button:hover {
    background-color: #467dff;
  }
}

.second-mobile-nav {
  @include xl {
    display: none;
  }

  @include lg {
    display: none;
  }

  @include md {
    display: none;
  }

  @include sm {
    display: flex;
  }
}