@import "./responsive.scss";

.single-main-service-container {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--background);
  display: flex;
  padding-left: 130px;
  gap: 30px;

  @include md {
    padding-left: 20px;
    flex-direction: column;
  }
  @include ms {
    padding-left: 20px;
    flex-direction: column;
  }
  @include sm {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }
}