@import "./responsive.scss";

.single-service-content-main-container {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include md {
    padding-right: 20px;
  }
}

.single-service-content-customer-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.single-service-content-customer-container > span {
  font-size: var(--heading-three);
  font-weight: 700;
  line-height: var(--leading-lg);
  color: var(--black);

  @include sm {
    font-size: var(--heading-four);
    line-height: var(--leading-md);
  }
}

.single-service-content-customer-container > p {
  color: var(--grey);
  font-weight: 400;
  font-size: var(--large);
  line-height: var(--leading-mds);

  @include sm {
    font-size: var(--medium);
    line-height: var(--leading-sm);
  }
}

.single-service-content-customer-container > p > br {
  @include md {
    display: none;
  }


  @include sm {
    display: none;
  }
}


.single-service-content-customer-container > img {
  width: 633px;
  height: 290px;
  object-fit: cover;
  border-radius: 6px;

  @include md {
    width: 100%;
  }

  @include ms {
    width: 100%;
  }

  @include sm {
    width: 400px;
    height: 160px;
  }
}

.single-service-content-solution-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include sm {
    align-items: start;
  }
}

.single-service-content-solution-container > span {
  font-size: var(--heading-three);
  font-weight: 700;
  line-height: var(--leading-lg);
  color: var(--black);

  @include sm {
    font-size: var(--heading-four);
    line-height: var(--leading-md);
  }
}

.single-service-content-solution-container > p {
  color: var(--grey);
  font-weight: 400;
  font-size: var(--large);
  line-height: var(--leading-mds);
}

.single-service-content-solution-container > p > br {
  @include md {
    display: none;
  }

  @include sm {
    display: none;
  }
}


.single-service-solutions-image-content-container {
  display: flex;
  align-items: center;
  gap: 34px;


  @include sm {
    align-items: start;
    flex-direction: column;
  }

  .single-service-solutions-content{
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include sm {
      order: 1;
    }
  }

  .single-service-solutions-content > span {
    display: flex;
    gap: 4px;
    font-size: var(--large);
    line-height: var(--leading-mds);
    font-weight: 400;
  }

  .single-service-solution-icon {
    color: var(--primary-blue);
    width: 25px;
    height: 25px;
  }
}

.single-service-solutions-image-content-container > img {
  width: 350px;
  height: 160px;
  border-radius: 6px;
  object-fit: cover;

  @include md {
    width: 70%;
  }

  @include ms {
    width: 60%;
  }

  @include sm {
    order: 2;
    width: 400px;
  }
}