@import "./responsive.scss";

.single-solutions-main-container {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 120px;
  padding-right: 120px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 635px));
  gap: 150px;

  @include md {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include ms {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(1, minmax(0, 635px));
    gap: 60px;
  }

  @include sm {
    grid-template-columns: repeat(1, minmax(0, 635px));
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 60px;
  }
}


.single-solution-first-content-container {
  display: flex;
  flex-direction: column;
  gap: 70px;

  .single-solution-first-content-title {
    font-size: var(--heading-two);
    line-height: var(--leading-xl);
    font-weight: 800;
    color: var(--black);
  }

  .single-solution-first-content-paragraph {
    font-size: var(--heading-five);
    line-height: var(--leading-ml);
    color: var(--grey);
    margin-top: 30px;
  }

  .single-solution-first-content-image {
    margin-top: 60px;
    width: 500px;
    height: 250px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    object-fit: cover;

    @include md {
      width: 400px;
    }

    @include ms {
      width: 635px;
    }

    @include sm {
      width: 360px;
    }
  }

  .single-solution-first-content-data-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .single-solution-first-content-data {
    display: flex;
    gap: 19px;

    .single-solution-first-content-data-icon {
      margin-top: 5px;
      width: 20px;
      height: 20px;
      color: var(--black);
    }

    .single-solution-data-title {
      color: var(--black);
      font-size: var(--heading-five);
      line-height: var(--leading-ml);
    }

    .single-solution-data-content {
      color: var(--grey);
      font-size: var(--heading-five);
      line-height: var(--leading-ml);
    }
  }
}

.single-solution-second-content {
  .single-solution-second-title  {
    font-size: var(--heading-two);
    line-height: var(--leading-xl);
    font-weight: 800;
    color: var(--black);
  }

  .single-solution-second-paragraph {
    font-size: var(--heading-five);
    line-height: var(--leading-ml);
    color: var(--grey);
    margin-top: 30px;
  }

  .single-solution-second-second-paragraph {
    margin-top: 30px;
    font-size: var(--heading-five);
    line-height: var(--leading-ml);
    color: var(--grey);
  }

  .single-solution-second-content-image {
    margin-top: 30px;
    width: 500px;
    height: 250px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
    object-fit: cover;

    @include md {
      width: 400px;
    }

    @include ms {
      width: 635px;
    }

    @include sm {
      width: 360px;
    }
  }
}

.single-solution-data-visualization-in-ensome {
  margin-top: 30px;

  .single-solution-data-visualization-in-ensome-title {
    font-size: var(--heading-two);
    line-height: var(--leading-xl);
    font-weight: 800;
    color: var(--black);
    white-space: nowrap;

    @include md {
      white-space: wrap;
    }
  }

  .single-solution-data-visualization-in-ensome-paragraph {
    margin-top: 30px;
    font-size: var(--heading-five);
    line-height: var(--leading-ml);
    color: var(--grey);
  }
}