@import "./responsive.scss";

.top-hero-main-container {
  padding-top: 106px;
  padding-bottom: 80px;
  background-color: var(--primary-dark-blue);

  @include md {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @include sm {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
  }

  .top-hero-content-container {
    display: flex;
    justify-content: center;
    gap: 125px;

    @include md {
      gap: 20px;
    }

    @include ms {
      flex-direction: column;
    }

    @include sm {
      flex-direction: column;
    }

    .top-hero-content-title {
      font-size: var(--heading-one);
      line-height: var(--leading-xxl);
      font-weight: 800;
      color: var(--white);

      @include md {
        margin-top: 15px;
        font-size: var(--heading-four);
        line-height: var(--leading-md);
      }
    }

    .top-hero-content-title br {
      @include md {
        display: none;
      }
      @include ms {
        display: none;
      }
    }

    .top-hero-content {
      display: flex;
      flex-direction: column;
      gap: 38px;

      .top-hero-content-description {
        color: var(--white);
        font-size: var(--large);
        line-height: var(--leading-mds);
        font-weight: normal;
      }

      .top-hero-content-description br {
        @include ms {
          display: none;
        }
      }

      .top-hero-button-container {
        display: flex;
        align-items: center;
        gap: 28px;
        
        .top-hero-learn-more-button {
          color: var(--primary-dark-blue);
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
          background-color: var(--white);
          border-radius: 7px;
          cursor: pointer;
          outline: none;
          border: none;
          font-size: var(--xl);
          font-weight: bold;
          line-height: var(--leading-ml);
          transition: all 0.3s ease;
        }

        .top-hero-learn-more-button:hover {
          color: var(--white);
          background-color: var(--primary-blue);
        }

        .top-hero-watch-demo-button {
          display: flex;
          align-items: center;
          gap: 10px;
          color: var(--white);
          background-color: transparent;
          outline: none;
          border: none;
          cursor: pointer;
          font-size: var(--xl);
          font-weight: bold;
          line-height: var(--leading-ml);
          transition: all 0.3s ease;

          .top-hero-play-icon {
            width: 24px;
            height: 24px;
          }
        }
        .top-hero-watch-demo-button:hover {
          color: var(--primary-blue);
        }
      }
    }
  }
}