@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  /* Primary */
  --primary-blue: #185CFF;
  --primary-dark-blue: #002B4E;
  --primary-light-blue: #F0F9FF;

  /* Helper Colors */
  --helper-dark-blue: #194060;
  --helper-dark-light-blue: #607D94;
  --helper-light-blue: #C9DCEC;
  --black:  #292D33;
  --grey: #9497A1;
  --background: #F1F6FA;
  --white: #FFFFFF;
  --error-red: #C14040;

  /* Typography */
  --heading-one: 2.875rem /* 46px */;
  --heading-two: 2.375rem /* 38px */;
  --heading-three: 1.875rem /* 30px */;
  --heading-four: 1.375rem /* 22px */;
  --heading-five: 1.25rem /* 20px */;

  --xl: 1.125rem /* 18px */;
  --large: 1rem /* 16px */;
  --medium: 0.875rem /* 14px */;
  --small: 0.75rem /* 12px */;

  --leading-xxl: 60px;
  --leading-xl: 56px;
  --leading-lg: 40px;
  --leading-ml: 33px;
  --leading-md: 30px;
  --leading-mds: 28px;
  --leading-sm: 24px;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}


html,
body 
:root{
  overflow-x: hidden;
}


body {
  font-family: 'Manrope', serif;
}


a {
  text-decoration: none;
  color: inherit;
}


.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.children-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}


.gap30 {
  gap: 30px;
}